<h1>Bienvenido Admin!</h1>
<section id="perfil">
    <div>
        <ul>
            <li>Nombre completo: {{profile.first_name}} {{profile.last_name}}</li>
            <li>ID: {{profile._id}}</li>
            <li>{{profile.email}}</li>
            <li>Edad: {{profile.age}}</li>
            <li>Rol: {{profile.role}}</li>
        </ul>
    </div>

    <a href="/api/products/backoffice">
        <h2>Ir al administrador de productos</h2>
    </a>
</section>

<section id="usuarios">
<h2>Listado de usuarios</h2>
    <div>

        {{#each users}}
        <div>
            <h3>{{first_name}} {{last_name}}</h3>
            <ul>
                <li>ID:{{_id}}</li>
                <li>{{email}}</li>
                <li>Edad:{{age}}</li>
                <li>Rol:{{role}}</li>
            </ul>
        </div>
        {{/each}}
    </div>
    <a href="/api/products">
        <h3>Volver al listado general</h3>
    </a>
</section>